<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study">
	<insert id="enroll" parameterType="com.board.example.domain.StudyEnrollVO">
	insert into STUDYENROLL (SNO, USERID, USERPASS, EMAIL, PHOTO, CATEGORY, STITLE, STARTDATE, ENDDATE, SDAY, SPLACE, SCONTENT )
	values( study_seq.nextval , #{userId}, #{userPass}, #{email}, #{photo}, #{category}, #{stitle}, #{startDate}, #{endDate}, #{sDay}, #{sPlace}, #{sContent})
<!-- 		insert into studytest_1 (bno, userid, category, title, regdate, place, content, photo)
		values((select nvl(max(bno)+1, 1) from studytest_1), #{userId}, #{category}, #{title}, #{regDate}, #{place}, #{content}, #{photo}) -->
	</insert>
	
	
	
	
</mapper>

<!-- 
SNO  		NUMBER
USERID 		VARCHAR2(20) 
USERPASS 	VARCHAR2(100) 
EMAIL  		VARCHAR2(30),
PHOTO 		VARCHAR2(20),
CATEGORY	 VARCHAR2(15) 
STITLE	 	VARCHAR2(50) 
STARTDATE  	DATE,
ENDDATE  	DATE,
SDAY		VARCHAR2(25) 
SPLACE 		VARCHAR2(70),
SCONTENT 	VARCHAR2(1000)


SNO 	 	NUMBER  NOT NULL,
USERID 		VARCHAR2(20)  NOT NULL,
USERPASS 	VARCHAR2(100) NOT NULL,
EMAIL  		VARCHAR2(30),
PHOTO 		VARCHAR2(20),
CATEGORY 	VARCHAR2(15)  NOT NULL,
STITLE 		VARCHAR2(50)  NOT NULL,
STARTDATE  	VARCHAR2(20),
ENDDATE  	VARCHAR2(20),
SDAY 		VARCHAR2(25)  NOT NULL,
SPLACE 		VARCHAR2(200),
SCONTENT 	VARCHAR2(1000)  NOT NULL,
PRIMARY KEY(SNO)

 -->